﻿@attribute [AllowAnonymous]
@page "/authentication/login"
@layout AuthLayout

@using Tridion.ReportingTool.Web.Services
@using Tridion.ReportingTool.Web.Extensions

@inject NavigationManager navigationManager
@inject IReportingToolClient client
@inject JwtAuthenticationStateProvider authStateProvider

<PageTitle>Login</PageTitle>

<Row>
    <Col Span="12" Offset="6">
        @if (unauthorized)
        {
            <Alert Type="@AlertType.Error" ShowIcon="true" Message="Authorization failed" />
        }

        <Form Loading="loading" Class="ant-advanced-search-form"
              Model="@loginRequest"
              ValidateMode="@FormValidateMode.Complex"
              LabelColSpan="8"
              WrapperColSpan="16"
              OnFinish="OnFinish">
            <FormItem Label="Username" Rules=@(new FormValidationRule[]{ new FormValidationRule{ Required = true } })>
                <Input @bind-Value="@context.UserName" />
            </FormItem>
            <FormItem Label="Password" Rules=@(new FormValidationRule[]{ new FormValidationRule{ Required = true } })>
                <InputPassword @bind-Value="@context.Password" />
            </FormItem>
            <FormItem WrapperColOffset="8" WrapperColSpan="16">
                <Button Type="@ButtonType.Primary" HtmlType="submit">
                    Submit
                </Button>
            </FormItem>
        </Form>
    </Col>
</Row>



<style>
    .ant-advanced-search-form {
        padding: 24px;
    }
</style>

@code
{
    private LoginRequest loginRequest = new LoginRequest();
    private bool loading = false;
    private bool unauthorized = false;

    // TODO: this requires you to login on each page refresh, maybe store it in local storage instead (and only call authentication when token is expired).
    private async Task OnFinish(EditContext editContext)
    {
        try
        {
            loading = true;
            var response = await client.Authenticate(loginRequest);
            if (response is not null && response.IsSuccess)
            {
                authStateProvider.Login(response);
                var returnUrl = navigationManager.QueryString("returnUrl") ?? "";
                navigationManager.NavigateTo(returnUrl);
            }
            else
            {
                unauthorized = true;
            }
        }
        catch (Exception ex)
        {

        }
        finally
        {
            loading = false;
        }
    }
}