﻿@namespace Tridion.ReportingTool.Web
@inherits LayoutComponentBase

<Layout>
    <Content>
        <div class="header">
            <h1 class="header__title">Reporting Tool</h1>
        </div>

        <main>
            @Body
        </main>
    </Content>
</Layout>

<style>
    .header {
        background: url('/images/hero-image-bg.8efacbde.svg'), linear-gradient(5deg, rgb(41, 143, 194), rgb(37, 189, 89));
        text-align: center;
        min-height: 8em;
        padding: 1em 0;
        flex-shrink: 0;
    }

    .header__title {
        color: #fff;
        font-size: 4em;
        line-height: 2em;
        margin: 0;
        padding: 0;
    }
</style>