﻿@namespace Tridion.ReportingTool.Web
@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<Layout>
    <Content>
        <div class="header">
            <h1 class="header__title">Reporting Tool</h1>
        </div>

        <Tabs @bind-ActiveKey="@_activeKey" OnChange="OnTabChange">
            <TabPane Tab="Events" Key="events" />
            <TabPane Tab="Reports" Key="reports" />
            <AuthorizeView Policy="@Policies.IsAdmin">
                <TabPane Tab="Configuration" Key="configuration" />
            </AuthorizeView>
        </Tabs>

        <main>
            @Body
        </main>
    </Content>
    <Footer>
        <section>
            <div>
                @DateTime.Now.Year -  <a target="_blank" rel="noopener noreferrer" href="https://trivident.com">Trivident</a>
            </div>
        </section>
    </Footer>
</Layout>

<style>
    .header {
        background: url('/images/hero-image-bg.8efacbde.svg'), linear-gradient(5deg, rgb(41, 143, 194), rgb(37, 189, 89));
        text-align: center;
        min-height: 8em;
        padding: 1em 0;
        flex-shrink: 0;
    }

    .header__title {
        color: #fff;
        font-size: 4em;
        line-height: 2em;
        margin: 0;
        padding: 0;
    }

    .ant-tabs-nav {
        margin: 0 0 0 32px !important;
    }
</style>

@code {
    private string _activeKey { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _activeKey = NavigationManager.Uri;
    }

    void OnTabChange(string key)
    {
        NavigationManager.NavigateTo($"/{key}", forceLoad: false, replace: true);
    }
}