﻿@attribute [Authorize(Policy = Policies.IsAdmin)]
@page "/configuration"

@using System.Threading
@using Microsoft.AspNetCore.Authorization

@inject IReportingToolClient _client

<PageTitle>Configuration</PageTitle>

@if (_isLoading)
{
    <div class="example">
        <Spin />
    </div>

    <style>
        .example {
            text-align: center;
            padding: 48px 32px;
            margin: 20px 0;
        }
    </style>
}
else if (_isFailed)
{
    <Result Status="500"
        Title="500"
        SubTitle="Sorry, something went wrong." />
}
else
{
    <Collapse DefaultActiveKey="@(new[]{"1"})">
        <Panel Header="Events" Key="1">
            <div>
                @foreach (var eventConfig in _eventConfigurations)
                {
                    <span>@eventConfig.EventName</span>
                    <Switch Checked="@eventConfig.Enabled" Loading="@_isTogglingEvent" OnChange="@(async (value) => { await ClickEvent(eventConfig.EventName, value); })">
                        <CheckedChildrenTemplate>
                            <Icon Type="check"></Icon>
                        </CheckedChildrenTemplate>
                        <UnCheckedChildrenTemplate>
                            <Icon Type="close"></Icon>
                        </UnCheckedChildrenTemplate>
                    </Switch>
                }
            </div>
        </Panel>
        <Panel Header="UserGroups" Key="2">
            <div>
                @foreach (var userGroupConfig in _userGroups)
                {
                    <span>@userGroupConfig.Name</span>
                    <Switch Checked="@(_userGroupConfigurations.FirstOrDefault(g => g.UserGroupId == userGroupConfig.Id)?.Enabled ?? false)"
                    Loading="@_isTogglingEvent"
                    OnChange="@(async (value) => { await ClickUserGroup(userGroupConfig.Id, value); })">
                        <CheckedChildrenTemplate>
                            <Icon Type="check"></Icon>
                        </CheckedChildrenTemplate>
                        <UnCheckedChildrenTemplate>
                            <Icon Type="close"></Icon>
                        </UnCheckedChildrenTemplate>
                    </Switch>
                }
            </div>
        </Panel>
    </Collapse>
}


@code {
    private CancellationTokenSource _cts = new CancellationTokenSource();

    bool _isLoading = true;
    bool _isFailed = false;
    bool _isTogglingEvent = false;

    IEnumerable<EventConfiguration> _eventConfigurations;
    IEnumerable<UserGroupConfiguration> _userGroupConfigurations;
    IEnumerable<UserGroup> _userGroups;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        try
        {
            _eventConfigurations = await _client.GetEventConfigurations(_cts.Token);
            _userGroupConfigurations = await _client.GetUserGroupConfigurations(_cts.Token);
            _userGroups = await _client.GetUserGroups(_cts.Token);
        }
        catch
        {
            _isFailed = true;
        }
        finally
        {
            _isLoading = false;
        }
    }

    async Task ClickEvent(string name, bool value)
    {
        if (!_isTogglingEvent)
        {
            _isTogglingEvent = true;
            if (value)
            {
                await _client.EnableEvent(name, _cts.Token);
            }
            else
            {
                await _client.DisableEvent(name, _cts.Token);
            }
            _isTogglingEvent = false;
            _eventConfigurations.Single(e => e.EventName == name).Enabled = value;
        }
    }

    async Task ClickUserGroup(string userGroupId, bool value)
    {
        if (!_isTogglingEvent)
        {
            _isTogglingEvent = true;
            if (value)
            {
                await _client.EnableUserGroup(userGroupId, _cts.Token);
            }
            else
            {
                await _client.DisableUserGroup(userGroupId, _cts.Token);
            }

            var c = _userGroupConfigurations.FirstOrDefault(e => e.UserGroupId == userGroupId);
            if (c is not null)
            {
                c.Enabled = value;
            }
            else
            {
                _userGroupConfigurations = _userGroupConfigurations.Append(new UserGroupConfiguration { UserGroupId = userGroupId, Enabled = value });
            }

            _isTogglingEvent = false;
        }
    }

    public void Dispose()
    {
        _cts.Cancel();
        _cts.Dispose();
    }
}
