﻿@attribute [Authorize(Policy = Policies.IsUser)]
@page "/"
@page "/events"
@page "/events/report/{id:guid}"

@using AntDesign.TableModels
@using System.ComponentModel.DataAnnotations

@inject IJSRuntime JS
@inject IReportingToolClient _client
@inject ILogger<Index> _logger
@inject NotificationService _notificationService

<PageTitle>Events</PageTitle>

<div>
    <Form @ref="_form" Model="filter" Name="advanced_search" Class="ant-advanced-search-form"
          LabelCol="@(new ColLayoutParam { Span = "4" })"
          WrapperCol="@(new ColLayoutParam { Span = "20" })"
          OnFinish="OnFinish">
        <Row Gutter="24">
            <GridCol Xs="24" Md="8">
                <FormItem Label="Item type" LabelAlign="AntLabelAlignType.Left">
                    <EnumSelect TEnum="ItemType?" @bind-Value="@context.ItemType"
                                AllowClear="true"
                                Placeholder="Item type"
                                OnSelectedItemChanged="OnSelectedItemChangedHandler"
                                OnClearSelected="OnClearHandler">
                        <ItemTemplate Context="option">
                            <img src="/images/@(option?.ToString().ToLower()).png" height="16" class="mr-1" /> @option
                        </ItemTemplate>
                    </EnumSelect>
                </FormItem>
            </GridCol>
            <GridCol Xs="24" Md="8">
                <FormItem Label="Event Name" LabelAlign="AntLabelAlignType.Left">
                    <Select DataSource="@_search?.Buckets?.FirstOrDefault(i => i.Name == "eventNames")?.Results"
                            @bind-Value="@context.EventName"
                            ValueName="@nameof(AggregationResult.Key)"
                            LabelName="@nameof(AggregationResult.Key)"
                            AllowClear="true"
                            Placeholder="Event name"
                            OnClearSelected="OnClearHandler"
                            OnSelectedItemChanged="OnSelectedItemChangedHandler">
                    </Select>
                </FormItem>
            </GridCol>
            <GridCol Xs="24" Md="8">
                <FormItem Label="Event family" LabelAlign="AntLabelAlignType.Left">
                    <Select DataSource="@_search?.Buckets?.FirstOrDefault(i => i.Name == "eventFamilies")?.Results"
                            @bind-Value="@context.EventFamily"
                            ValueName="@nameof(AggregationResult.Key)"
                            LabelName="@nameof(AggregationResult.Key)"
                            Placeholder="Event family"
                            AllowClear="true"
                            OnClearSelected="OnClearHandler"
                            OnSelectedItemChanged="OnSelectedItemChangedHandler">
                    </Select>
                </FormItem>
            </GridCol>
            <GridCol Xs="24" Md="8">
                <FormItem Label="User" LabelAlign="AntLabelAlignType.Left">
                    <Select DataSource="@_items"
                            @bind-Value="@context.UserName"
                            EnableSearch
                            AllowClear="true"
                            Placeholder="Username"
                            ShowArrowIcon="false"
                            OnSearch="@(async (value) => await OnSearch(value))"
                            OnClearSelected="OnClearHandler"
                            OnSelectedItemChanged="OnSelectedItemChangedHandler">
                    </Select>
                </FormItem>
            </GridCol>
            <GridCol Xs="24" Md="8">
                <FormItem Label="Publication" LabelAlign="AntLabelAlignType.Left">
                    <Select DataSource="@_search?.Buckets?.FirstOrDefault(i => i.Name == "publications")?.Results"
                            @bind-Value="@context.PublicationName"
                            ValueName="@nameof(AggregationResult.Key)"
                            LabelName="@nameof(AggregationResult.Key)"
                            AllowClear="true"
                            Placeholder="Publication"
                            OnClearSelected="OnClearHandler"
                            OnSelectedItemChanged="OnSelectedItemChangedHandler">
                    </Select>
                </FormItem>
            </GridCol>
            <GridCol Xs="24" Md="8">
                <FormItem Label="Server" LabelAlign="AntLabelAlignType.Left">
                    <Select DataSource="@_search?.Buckets?.FirstOrDefault(i => i.Name == "servers")?.Results"
                            @bind-Value="@context.ServerName"
                            ValueName="@nameof(AggregationResult.Key)"
                            LabelName="@nameof(AggregationResult.Key)"
                            AllowClear="true"
                            Placeholder="Server"
                            OnClearSelected="OnClearHandler"
                            OnSelectedItemChanged="OnSelectedItemChangedHandler">
                    </Select>
                </FormItem>
            </GridCol>
            <GridCol Xs="24" Md="8">
                <FormItem Label="Date" LabelAlign="AntLabelAlignType.Left">
                    <ChildContent>
                        <FormItem>
                            <EnumSelect TEnum="DateOption?" @bind-Value="@context.DateOption"
                                        Placeholder="Select a range or customize"
                                        OnSelectedItemChanged="OnSelectedItemChangedHandler"
                                        OnClearSelected="OnClearHandler"
                                        AllowClear=true>
                            </EnumSelect>
                        </FormItem>
                        <div style="display:grid; grid-template-columns:49% 2% 49%;">
                            <FormItem>
                                <DatePicker TValue="DateTime?" @bind-Value="@context.DateRange.Start"
                                            Picker="@DatePickerType.Date"
                                            OnChange="OnClearHandler"
                                            OnClearClick="OnSelectedItemChangedHandler"
                                            Disabled="_isUsingDateOptions"
                                            DisabledDate="@((val) => { return val > filter.DateRange?.End; })" />
                            </FormItem>
                            <span></span>
                            <FormItem>
                                <DatePicker TValue="DateTime?" @bind-Value="@context.DateRange.End"
                                            Picker="@DatePickerType.Date"
                                            OnChange="OnClearHandler"
                                            OnClearClick="OnSelectedItemChangedHandler"
                                            Disabled="_isUsingDateOptions"
                                            DisabledDate="@((val) => { return filter.DateRange?.Start > val; })" />
                            </FormItem>
                        </div>
                    </ChildContent>
                </FormItem>
            </GridCol>
            <GridCol Xs="24" Md="8">
                <FormItem Label="Search" LabelAlign="AntLabelAlignType.Left">
                    <Search @bind-Value="@context.Query"
                            Placeholder="Input search text"
                            ClassicSearchIcon
                            AllowClear="true"
                            DebounceMilliseconds=500
                            OnChange="OnChangeHandler"
                            OnPressEnter="OnSelectedItemChangedHandler">
                        <Suffix>
                            <Icon Type="search" />
                        </Suffix>
                    </Search>
                </FormItem>
            </GridCol>
            <GridCol Xs="24" Md="8">
                <FormItem Label="Aggregation" LabelAlign="AntLabelAlignType.Left">
                    <ChildContent>
                        <div style="display:grid;grid-template-columns:49% 2% 49%;">
                            <FormItem>
                                <SimpleSelect @bind-Value="_primaryAggregationField"
                                              OnSelectedItemChanged="OnSelectedItemChangedHandler"
                                              OnClearSelected="@(() => { OnClearHandler(primaryAggregationField: true); })"
                                              Placeholder="Aggregate by"
                                              AllowClear="true">
                                    <SelectOptions>
                                        @foreach (var f in _aggregationFields)
                                        {
                                            <SimpleSelectOption Value="@f" Label="@f"></SimpleSelectOption>
                                        }
                                    </SelectOptions>
                                </SimpleSelect>
                            </FormItem>
                            <span></span>
                            <FormItem>
                                <SimpleSelect @bind-Value="_secondaryAggregationField"
                                              OnSelectedItemChanged="OnSelectedItemChangedHandler"
                                              OnClearSelected="@(() => { OnClearHandler(primaryAggregationField: false); })"
                                              Placeholder="Include columns for"
                                              AllowClear="true"
                                              Disabled=@(string.IsNullOrEmpty(_primaryAggregationField))>
                                    <SelectOptions>
                                        @foreach (var f in _aggregationFields)
                                        {
                                            <SimpleSelectOption Value="@f" Label="@f" Disabled=@(_primaryAggregationField == f)></SimpleSelectOption>
                                        }
                                    </SelectOptions>
                                </SimpleSelect>
                            </FormItem>
                        </div>
                    </ChildContent>
                </FormItem>
            </GridCol>
        </Row>
        <Row>
            <GridCol Xs="24" Md="12">
                @if (!_isShowingAggregationTable && !_notAuthorizedToViewReport)
                {
                    <Dropdown Placement="@Placement.BottomCenter">
                        <Overlay>
                            <Menu OnMenuItemClicked="HandleMenuClick" AutoCloseDropdown="true">
                                <MenuItem Id="SubjectName">
                                    <Checkbox Checked="@(_hidingTableColumns["SubjectName"])">SubjectName</Checkbox>
                                </MenuItem>
                                <MenuItem Id="EventName">
                                    <Checkbox Checked="@(_hidingTableColumns["EventName"])">EventName</Checkbox>
                                </MenuItem>
                                <MenuItem Id="EventStartDate">
                                    <Checkbox Checked="@(_hidingTableColumns["EventStartDate"])">EventStartDate</Checkbox>
                                </MenuItem>
                                <MenuItem Id="UserName">
                                    <Checkbox Checked="@(_hidingTableColumns["UserName"])">UserName</Checkbox>
                                </MenuItem>
                                <MenuItem Id="ElapsedMilliseconds">
                                    <Checkbox Checked="@(_hidingTableColumns["ElapsedMilliseconds"])">ElapsedMilliseconds</Checkbox>
                                </MenuItem>
                            </Menu>
                        </Overlay>
                        <ChildContent>
                            <Button OnClickStopPropagation="true">Toggle columns <Icon Type="down" /></Button>
                        </ChildContent>
                    </Dropdown>
                }
            </GridCol>
            <GridCol Xs="24" Md="12" Style="text-align:right;">
                <Button Type="primary" Ghost Icon="@IconType.Outline.Download" Loading="_isLoadingExportButton" OnClick="Export">Download</Button>
                @if (Id is null)
                {
                    <Button Icon="@IconType.Outline.Save" Loading="_isLoadingReportButton" OnClick="() => { _saveReportModalVisible = true; }">Save </Button>
                }
                else
                {
                    <Button Icon="@IconType.Outline.Save" Loading="_isLoadingReportButton" OnClick="() => { _saveReportModalVisible = true; }">Save as new report</Button>
                    <Button Icon="@IconType.Outline.Save" Loading="_isLoadingReportButton" OnClick="UpdateReport">Update existing report</Button>
                }
                <Button Type="primary" HtmlType="submit">Search</Button>
                <Button OnClick="()=>{_form?.Reset();_form?.Submit();}">Clear</Button>
            </GridCol>
        </Row>
    </Form>
    <div class="search-result-list">
        @if (_notAuthorizedToViewReport)
        {
            <Result Status="403" SubTitle="Sorry, you are not authorized to access this page." />
        }
        else if (_isShowingAggregationTable)
        {
            <Table TItem="AggregationTableData" DataSource="_aggregationData" Loading="_loading" Total="@(_aggregationData?.Count() ?? 0)" Size=@TableSize.Small>
                <Column Title="@_primaryAggregationField" TData="string" DataIndex="AggregateBy" Sortable />
                @foreach (var c in _aggregationColumns)
                {
                    <Column Title="@c" TData="long?" DataIndex="@($"Columns['{c}']")" Sortable SorterCompare="CompareNullableLong" />
                }
                <Column Title="Total" TData="long?" DataIndex="Total" Sortable />
            </Table>
        }
        else
        {
            <Table TItem="Event" @bind-PageIndex="_pageIndex" @bind-PageSize="_pageSize" DataSource="_data" Total="_total" Loading="_loading" OnChange="HandleTableChange" RemoteDataSource Size=@TableSize.Small>

                <ChildContent>
                    <Column Title="" @bind-Field="@context.SubjectType" Style="width:3%;">
                        <img src="/images/@(context.SubjectType.ToString().ToLower()).png" height="16" class="mr-1" />
                    </Column>
                    <Column @bind-Field="@context.SubjectId" Style="width:10%;" Sortable>
                        <Text Copyable>@context.SubjectId</Text>
                    </Column>
                    <Column @bind-Field="@context.SubjectName" Sortable Hidden="@_hidingTableColumns["SubjectName"]" />
                    <Column @bind-Field="@context.EventName" Sortable Hidden="@_hidingTableColumns["EventName"]" />
                    <Column @bind-Field="@context.EventStartDate" Format="yyyy-MM-dd hh:mm" Sortable Hidden="@_hidingTableColumns["EventStartDate"]" />
                    <Column @bind-Field="@context.UserName" Sortable Hidden="@_hidingTableColumns["UserName"]" />
                    <Column @bind-Field="@context.ElapsedMilliseconds" Sortable Hidden="@_hidingTableColumns["ElapsedMilliseconds"]" />
                </ChildContent>

                <PaginationTemplate>
                    <div style="display: flex; align-items: center; padding: 24px;">
                        <Pagination Total="_total"
                                PageSize="_pageSize"
                                Current="_pageIndex"
                                ShowSizeChanger="true"
                                OnChange="HandlePageChange" />
                    </div>
                </PaginationTemplate>
            </Table>
        }
    </div>

    <Modal Title="@("Save Report")"
           Visible="_saveReportModalVisible"
           OnOk="HandleOk"
           OnCancel="HandleCancel">
        <Form @ref="@_saveReportForm" Model="@_saveReportModel" Loading="_saveReportLoading"
              LabelColSpan="8"
              WrapperColSpan="16"
              OnFinish="OnSaveReportFinish">
            <FormItem Label="Report Name">
                <Input @bind-Value="@context.Name" />
            </FormItem>
            <FormItem Label="Public">
                <Switch @bind-Value="@context.IsPublic" Checked="true">
                    <CheckedChildrenTemplate>
                        <Icon Type="check"></Icon>
                    </CheckedChildrenTemplate>
                    <UnCheckedChildrenTemplate>
                        <Icon Type="close"></Icon>
                    </UnCheckedChildrenTemplate>
                </Switch>
            </FormItem>
        </Form>
    </Modal>
</div>

<style>
    .ant-advanced-search-form {
        padding: 24px;
        background: #fbfbfb;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
    }

        .ant-advanced-search-form .ant-form-item {
            display: flex;
        }

        .ant-advanced-search-form .ant-form-item-control-wrapper {
            flex: 1;
        }

        .ant-advanced-search-form .ant-picker.ant-picker-default {
            display: block;
        }
</style>


@code {
    [Parameter]
    public Guid? Id { get; set; }

    private CancellationTokenSource _cts = new CancellationTokenSource();

    bool _isLoadingExportButton = false;
    bool _isLoadingReportButton = false;

    bool _loading = false;
    bool _notAuthorizedToViewReport = false;
    int _total;
    int _pageIndex = 1;
    int _pageSize = 25;

    bool _isUsingDateOptions = false;

    string? _primaryAggregationField;
    string? _secondaryAggregationField;
    List<string> _aggregationFields = new List<string>() {
        "EventName", "PublicationName", "UserName", "SubjectType", "ServerName"
    };

    Dictionary<string, bool> _hidingTableColumns = new Dictionary<string, bool>()
    {
        { "SubjectName", false },
        { "EventName", false },
        { "EventStartDate", false },
        { "UserName", false },
        { "ElapsedMilliseconds", false },
    };

    IReadOnlyCollection<Event>? _data = null;
    IList<AggregationTableData>? _aggregationData = null;
    IEnumerable<string?>? _aggregationColumns = null;
    Report? _report = null;

    SearchAggregationResult? _search = null;
    AntDesign.Internal.IForm _form;

    QueryModel<Event> _eventQueryModel;
    QueryModel<AggregationTableData> _aggregationQueryModel;

    Task<IEnumerable<string>?> _oldTask;
    List<string> _items = new List<string>();

    EventSearchFilter filter = new EventSearchFilter();

    bool _isShowingAggregationTable => !string.IsNullOrEmpty(_primaryAggregationField);

    protected override void OnInitialized()
    {
        base.OnInitialized();

        // initialize the daterange so that we can bind the start and end fields to the form
        filter.DateRange = new DateRange();
    }

    protected override async Task OnInitializedAsync()
    {
        if (Id is not null)
        {
            _report = await _client.GetReport(Id, _cts.Token);
            if (_report is not null)
            {
                filter = _report.Filter;
            }
            else
            {
                _notAuthorizedToViewReport = true;
            }
        }
    }

    /// <summary>
    /// Request the aggregation and process the response to <see cref="AggregationTableData" />
    /// </summary>
    private async Task HandleTableChange(QueryModel<AggregationTableData> queryModel)
    {
        _aggregationQueryModel = queryModel;

        try
        {
            _loading = true;

            var data = await _client.GetAggregatedEvents(
                body: filter,
                primaryAggregationField: _primaryAggregationField,
                secondaryAggregationField: _secondaryAggregationField,
                cancellationToken: _cts.Token);

            _aggregationData = new List<AggregationTableData>();
            _aggregationColumns = data.Buckets
                .SelectMany(b => b.Results.Select(r => r.Key))
                .Distinct();
            foreach (var bucket in data.Buckets)
            {
                var row = new AggregationTableData
                    {
                        AggregateBy = bucket.Name,
                        Total = bucket.Total,
                        Columns = bucket.Results.ToDictionary(r => r.Key, r => r.Count)
                    };

                foreach (var c in _aggregationColumns)
                {
                    if (!row.Columns.ContainsKey(c))
                    {
                        row.Columns[c] = 0;
                    }
                }
                _aggregationData.Add(row);
            }
        }
        catch (System.Exception ex)
        {
            _logger.LogError(ex, "Error while retrieving data...");
            _data = null;
        }
        finally
        {
            _loading = false;
        }
    }

    /// <summary>
    /// Request the paginated events
    /// </summary>
    private async Task HandleTableChange(QueryModel<Event> queryModel)
    {
        _eventQueryModel = queryModel;

        try
        {
            _loading = true;
            var sortmodel = queryModel.SortModel.FirstOrDefault(s => !string.IsNullOrEmpty(s.Sort));

            var data = await _client.GetEvents(
                body: filter,
                page: queryModel.PageIndex - 1,
                pageSize: queryModel.PageSize,
                sortfield: sortmodel?.FieldName,
                sortdirection: sortmodel != null ? (sortmodel?.Sort == "ascend" ? Models.SortDirection.Ascending : Models.SortDirection.Descending) : null,
                cancellationToken: _cts.Token);

            _data = data.Items;
            _total = data.TotalItems.HasValue ? data.TotalItems.Value : 0;
            _search = data.Filters;
        }
        catch (System.Exception ex)
        {
            _logger.LogError(ex, "Error while retrieving data...");
            _data = null;
        }
        finally
        {
            _loading = false;
        }
    }

    /// <summary>
    /// On form submit, update the table
    /// </summary>
    private async Task OnFinish(EditContext editContext)
    {
        if (string.IsNullOrEmpty(_primaryAggregationField))
        {
            await HandleTableChange(_eventQueryModel);
        }
        else
        {
            await HandleTableChange(_aggregationQueryModel);
        }
    }

    /// <summary>
    /// Automatically update the table after resetting a field
    /// </summary>
    private void OnClearHandler()
    {
        _form.Submit();
    }

    /// <summary>
    /// Custom onclear handler to reset secondary aggregation field after clearing the primary one
    /// </summary>
    /// <param name="primaryAggregationField"></param>
    private void OnClearHandler(bool primaryAggregationField = false)
    {
        if (primaryAggregationField)
        {
            _secondaryAggregationField = null;
        }
        _form.Submit();
    }

    /// <summary>
    /// OnChange handler for search box, since it doesnt support an onclear handler
    /// </summary>
    private void OnChangeHandler(string? value)
    {
        if (value is null)
        {
            _form.Submit();
        }
    }

    /// <summary>
    /// OnChange handler for all filters, so it automatically updates the table
    /// </summary>
    private void OnSelectedItemChangedHandler(object? value)
    {
        // if value is null, it should be picked up by the onclear handler
        if (value is not null)
        {
            _form.Submit();
        }
    }

    /// <summary>
    /// OnChange handler for enum
    /// </summary>
    private void OnSelectedItemChangedHandler(ItemType? value)
    {
        if (value is not null)
        {
            _form.Submit();
        }
    }

    /// <summary>
    /// OnChange handler for enum dateoption
    /// </summary>
    private void OnSelectedItemChangedHandler(DateOption? value)
    {
        if (value is not null)
        {
            DateRange customRange = new DateRange(value.Value);
            filter.DateRange = customRange;
            _isUsingDateOptions = true;

            _form.Submit();
        }
        else
        {
            _isUsingDateOptions = false;
            filter.DateRange = new DateRange(); ;
        }
    }

    /// <summary>
    /// OnChange handler for enum
    /// </summary>
    private void OnSelectedItemChangedHandler(AggregationResult value)
    {
        _form.Submit();
    }

    /// <summary>
    /// Request a list of options for the username select box
    /// </summary>
    private async Task OnSearch(string value)
    {
        if (!string.IsNullOrWhiteSpace(value))
        {
            if (_oldTask is null || _oldTask.IsCompleted)
            {
                _oldTask = _client.GetEventSuggestions(value, "UserName", _cts.Token);
                _items = (await _oldTask)?.ToList() ?? new List<string>();
                StateHasChanged();
            }
        }
        else
        {
            if (_items.Any())
            {
                _items.Clear();
            }
        }
    }

    /// <summary>
    /// Handle pagination changes, needed because we use a custom pagination template
    /// </summary>
    private void HandlePageChange(PaginationEventArgs args)
    {
        if (_pageIndex != args.Page)
        {
            _pageIndex = args.Page;
        }

        if (_pageSize != args.PageSize)
        {
            _pageSize = args.PageSize;
        }
    }

    /// <summary>
    /// Show/hide columns on the table
    /// </summary>
    private void HandleMenuClick(MenuItem item)
    {
        _hidingTableColumns[item.Id] = !_hidingTableColumns[item.Id];
    }

    /// <summary>
    /// Save current filter to a report
    /// </summary>
    private async Task SaveReport(string reportName, bool isPublic)
    {
        try
        {
            _isLoadingReportButton = true;

            var result = await _client.InsertReport(
                    body: new Report
                        {
                            ReportName = reportName,
                            IsPublic = isPublic,
                            Date = DateTime.Now,
                            Filter = filter
                        },
                    cancellationToken: _cts.Token);

            if (result is not null)
            {
                await _notificationService.Open(new NotificationConfig()
                    {
                        Message = "Saved Report",
                        Description = $"Successfully saved report {reportName}",
                        NotificationType = NotificationType.Success
                    });
            }
            else
            {
                await _notificationService.Open(new NotificationConfig()
                    {
                        Message = "Failed saving report",
                        Description = $"Something went wrong saving report {reportName}.",
                        NotificationType = NotificationType.Error
                    });
            }
        }
        catch (System.Exception ex)
        {
            _logger.LogError(ex, "Error while saving report {reportName}.", reportName);
            await _notificationService.Open(new NotificationConfig()
                {
                    Message = "Failed saving report",
                    Description = $"Something went wrong saving report {reportName}.",
                    NotificationType = NotificationType.Error
                });
        }
        finally
        {
            _isLoadingReportButton = false;
        }
    }

    /// <summary>
    /// Update current report
    /// </summary>
    private async Task UpdateReport()
    {
        try
        {
            _isLoadingReportButton = true;
            _report.Filter = filter;

            await _client.UpdateReport(
                    body: _report,
                    cancellationToken: _cts.Token);


            await _notificationService.Open(new NotificationConfig()
                {
                    Message = "Updated Report",
                    Description = $"Successfully updated report {Id}",
                    NotificationType = NotificationType.Success
                });
        }
        catch (System.Exception ex)
        {
            _logger.LogError(ex, "Error while updating report.");
            await _notificationService.Open(new NotificationConfig()
                {
                    Message = "Failed saving report",
                    Description = "Something went wrong updating report.",
                    NotificationType = NotificationType.Error
                });
        }
        finally
        {
            _isLoadingReportButton = false;
        }
    }

    /// <summary>
    /// Export current filter
    /// </summary>
    private async Task Export()
    {
        try
        {
            _isLoadingExportButton = true;

            var file = !_isShowingAggregationTable ? await _client.GetExport(body: filter, _cts.Token) :
                await _client.GetAggregatedExport(
                    body: filter,
                    primaryAggregationField: _primaryAggregationField,
                    secondaryAggregationField: _secondaryAggregationField,
                    cancellationToken: _cts.Token);

            if (file is not null)
            {
                using var streamRef = new DotNetStreamReference(file);

                // TODO get filename from stream?
                await JS.InvokeVoidAsync("downloadFileFromStream", $"EventsExport_{DateTime.Now:yyyyMMddhhmm}.xlsx", streamRef);
            }
            else
            {
                await _notificationService.Open(new NotificationConfig()
                    {
                        Message = "Failed exporting data",
                        Description = "Something went wrong while creating an export of the data.",
                        NotificationType = NotificationType.Error
                    });
            }
        }
        catch (System.Exception ex)
        {
            _logger.LogError(ex, "Error while creating export.");
            await _notificationService.Open(new NotificationConfig()
                {
                    Message = "Failed exporting data",
                    Description = "Something went wrong while creating an export of the data.",
                    NotificationType = NotificationType.Error
                });
        }
        finally
        {
            _isLoadingExportButton = false;
        }
    }

    public void Dispose()
    {
        _cts.Cancel();
        _cts.Dispose();
    }

    /// <summary>
    /// Custom record to hold the aggregation data, using a dictionary is easier for the antdesign table (DataIndex).
    /// </summary>
    private record AggregationTableData
    {
        public string AggregateBy { get; init; }
        public long? Total { get; init; }
        public Dictionary<string, long?> Columns { get; set; }
    }

    /// <summary>
    /// Make the aggregation columns sortable
    /// </summary>
    /// <param name="a"></param>
    /// <param name="b"></param>
    /// <returns></returns>
    private int CompareNullableLong(long? a, long? b)
    {
        if (a is null && b is null)
        {
            return 0;
        }
        if (a is null)
        {
            return -1;
        }
        if (b is null)
        {
            return 1;
        }
        return (int)(a - b).Value;
    }

    #region modal
    public class SaveReportModel
    {
        [Required]
        public string Name { get; set; }

        [Required]
        public bool IsPublic { get; set; }
    }

    bool _saveReportLoading = false;
    bool _saveReportModalVisible = false;
    private Form<SaveReportModel> _saveReportForm;
    private SaveReportModel _saveReportModel = new SaveReportModel();

    private void HandleCancel(MouseEventArgs e)
    {
        _saveReportModalVisible = false;
    }

    /// <summary>
    /// When form is submited, close the modal
    /// </summary>
    /// <param name="args"></param>
    private async Task OnSaveReportFinish(EditContext editContext)
    {
        _saveReportModalVisible = false;
        await SaveReport(_saveReportModel.Name, _saveReportModel.IsPublic);

        _saveReportModel = new SaveReportModel();
    }

    /// <summary>
    /// When modal OK button is click, submit form manually
    /// </summary>
    /// <param name="e"></param>
    private void HandleOk(MouseEventArgs e)
    {
        _saveReportForm.Submit();
    }
    #endregion
}
