﻿@attribute [Authorize(Policy = Policies.IsUser)]
@page "/reports"

@using AntDesign.TableModels
@using System.Security.Claims
@using Tridion.ReportingTool.Web.Services

@inject IReportingToolClient _client
@inject ILogger<Reports> _logger
@inject NavigationManager NavigationManager
@inject NotificationService _notificationService
@inject IAuthorizationService AuthorizationService

<PageTitle>Reports</PageTitle>

<div>
    <Form @ref="_form" Model="filter" Name="advanced_search" Class="ant-advanced-search-form"
          LabelCol="@(new ColLayoutParam { Span = "4" })"
          WrapperCol="@(new ColLayoutParam { Span = "20" })"
          OnFinish="OnFinish">
        <Row Gutter="24">
            <GridCol Span="8">
                <FormItem Label="User" LabelAlign="AntLabelAlignType.Left">
                    <Select DataSource="@_items"
                            @bind-Value="@context.UserId"
                            EnableSearch
                            AllowClear="true"
                            Placeholder="Username"
                            ShowArrowIcon="false"
                            OnSearch="@(async (value) => await OnSearch(value))"
                            OnClearSelected="OnClearHandler"
                            OnSelectedItemChanged="OnSelectedItemChangedHandler">
                    </Select>
                </FormItem>
            </GridCol>
            <GridCol Span="8">
                <FormItem Label="Date" LabelAlign="AntLabelAlignType.Left">
                    <ChildContent>
                        <div style="display:grid;grid-template-columns:49% 2% 49%;">
                            <FormItem>
                                <DatePicker TValue="DateTime?" @bind-Value="@context.DateRange.Start"
                                            Picker="@DatePickerType.Date"
                                            OnChange="OnClearHandler"
                                            OnClearClick="OnSelectedItemChangedHandler" />
                            </FormItem>
                            <span></span>
                            <FormItem>
                                <DatePicker TValue="DateTime?" @bind-Value="@context.DateRange.End"
                                            Picker="@DatePickerType.Date"
                                            OnChange="OnClearHandler"
                                            OnClearClick="OnSelectedItemChangedHandler" />
                            </FormItem>
                        </div>
                    </ChildContent>
                </FormItem>
            </GridCol>
            <GridCol Span="8">
                <FormItem Label="Search" LabelAlign="AntLabelAlignType.Left">
                    <Search @bind-Value="@context.Query"
                            Placeholder="Input search text"
                            ClassicSearchIcon
                            AllowClear="true"
                            OnPressEnter="OnSelectedItemChangedHandler" />
                </FormItem>
            </GridCol>
        </Row>
        <Row>
            <GridCol Span="24" Style="text-align:right;">
                <Button Type="primary" HtmlType="submit">Search</Button>
                <Button OnClick="()=>{_form?.Reset(); _form?.Submit();}">Clear</Button>
            </GridCol>
        </Row>
    </Form>
    <div class="search-result-list">
        <Table TItem="Report" DataSource="_data" @bind-PageIndex="_pageIndex" @bind-PageSize="_pageSize" Total="_total" Loading="_loading" OnChange="HandleTableChange" RemoteDataSource>
            <Column @bind-Field="@context.ReportId" Style="width:20%;" Sortable />
            <Column @bind-Field="@context.ReportName" Sortable />
            <Column @bind-Field="@context.UserName" Sortable />
            <ActionColumn>
                @* TODO on row click instead? *@
                <Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Link" OnClick="@(() => NavigationManager.NavigateTo($"/events/report/{context.ReportId}", forceLoad: false, replace: true))" />

                @if (isAdmin || username == context.UserName) {
                    <Button Type="@ButtonType.Primary" Danger Icon="@IconType.Outline.Delete" OnClick="@(() => DeleteReport(context.ReportId))" />
                }
            </ActionColumn>
        </Table>
    </div>
</div>

<style>
    [data-theme='compact'] .ant-advanced-search-form,
    .ant-advanced-search-form {
        padding: 24px;
        background: #fbfbfb;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
    }

        [data-theme='compact'] .ant-advanced-search-form .ant-form-item,
        .ant-advanced-search-form .ant-form-item {
            display: flex;
        }

        [data-theme='compact'] .ant-advanced-search-form .ant-form-item-control-wrapper,
        .ant-advanced-search-form .ant-form-item-control-wrapper {
            flex: 1;
        }

        .ant-advanced-search-form .ant-picker.ant-picker-default {
            display: block;
        }
</style>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private CancellationTokenSource _cts = new CancellationTokenSource();
    bool _loading = false;
    int _pageIndex = 1;
    int _pageSize = 25;
    int _total;

    private string? username;
    private bool isAdmin = false;

    IReadOnlyCollection<Report> _data = null;
    SearchAggregationResult _search = null;
    AntDesign.Internal.IForm _form;
    QueryModel<Report> _queryModel;

    Task<IEnumerable<string>> _oldTask;
    List<string> _items = new List<string>();

    ReportSearchFilter filter = new ReportSearchFilter();

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();

        var user = (await authenticationStateTask).User;
        var username = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value;
        if ((await AuthorizationService.AuthorizeAsync(user, Policies.IsAdmin)).Succeeded)
        {
            isAdmin = true;
        }

        filter.DateRange = new DateRange();
    }

    async Task HandleTableChange(QueryModel<Report> queryModel)
    {
        try
        {
            _queryModel = queryModel;
            _loading = true;
            var data = await _client.GetReports(
                body: filter,
                page: _pageIndex - 1,
                pageSize: _pageSize,
                cancellationToken: _cts.Token);

            _data = data.Items;
            _total = (int)data.TotalItems;
            _search = data.Filters;
        }
        catch (System.Exception ex)
        {
            _logger.LogError(ex, "Error while retrieving data...");
            _data = null;
        }
        finally
        {
            _loading = false;
        }
    }

    /// <summary>
    /// Delete current report
    /// </summary>
    private async Task DeleteReport(Guid? reportId)
    {
        try
        {
            var result = await _client.DeleteReport(
                    id: reportId,
                    cancellationToken: _cts.Token);

            if (result?.ResultCode == ResultCode.Success)
            {
                _form.Submit();

                await _notificationService.Open(new NotificationConfig()
                    {
                        Message = "Deleted Report",
                        Description = "Successfully deleted report",
                        NotificationType = NotificationType.Success
                    });
            }
            else
            {
                await _notificationService.Open(new NotificationConfig()
                    {
                        Message = "Failed deleting report",
                        Description = "Something went wrong deleting report.",
                        NotificationType = NotificationType.Error
                    });
            }
        }
        catch (System.Exception ex)
        {
            _logger.LogError(ex, "Error while deleting report.");
            await _notificationService.Open(new NotificationConfig()
                {
                    Message = "Failed deleting report",
                    Description = "Something went wrong deleting report.",
                    NotificationType = NotificationType.Error
                });
        }
    }

    private async Task OnFinish(EditContext editContext)
    {
        await HandleTableChange(_queryModel);
    }

    private void OnClearHandler()
    {
        _form.Submit();
    }

    private void OnSelectedItemChangedHandler(object? value)
    {
        // if value is null, it should be picked up by the onclear handler
        if (value is not null)
        {
            _form.Submit();
        }
    }

    private void OnSelectedItemChangedHandler(ItemType? value)
    {
        if (value is not null)
        {
            _form.Submit();
        }
    }

    private async Task OnSearch(string value)
    {
        if (!string.IsNullOrWhiteSpace(value))
        {
            if (_oldTask == null || _oldTask.IsCompleted)
            {
                _oldTask = _client.GetReportSuggestions(value, "UserName", _cts.Token);
                _items = (await _oldTask).ToList();
                StateHasChanged();
            }
        }
        else
        {
            if (_items.Any())
            {
                _items.Clear();
            }
        }
    }

    public void Dispose()
    {
        _cts.Cancel();
        _cts.Dispose();
    }
}
