@inject NavigationManager navigationManager

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <Microsoft.AspNetCore.Components.Authorization.AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(BasicLayout)">
            <NotAuthorized>
                <RedirectToLogin />
@*                <Result Status="403"
                        Title="Not Authorized"
                        SubTitle="Sorry, you're not allowed to access this page'." />*@
            </NotAuthorized>
        </Microsoft.AspNetCore.Components.Authorization.AuthorizeRouteView>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(BasicLayout)">
            <Result Status="404"
                    Title="Not Found"
                    SubTitle="Sorry, there is nothing at this address." />
        </LayoutView>
    </NotFound>
</Router>
<AntContainer />